* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    width: 100%;
    background-color: blueviolet;
    padding: 30px 20px;
}

header > :first-child {
    margin-right: auto;
}

.head-list1,.head-list2,.head-list3,.head-list4,.head-list5 {
    flex-basis: 140px;
    margin: 0 10px;
    height: 70px;
    background-color: aquamarine;
}

main {
    display: flex;
    justify-content: center;
    width: 100% auto;
    height: 100% auto;
}

.main-box {
    width: 300px;
    background-color: blanchedalmond;
}

.main-box2 {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    max-width: 700px;
    padding: 20px;
    flex-grow: 1;
    background-color: green;
}

.box-list1,.box-list2,.box-list3,.box-list4,.box-list5,.box-list6,.box-list7,.box-list8,.box-list9 {
    flex-basis: 200px;
    height: 130px;
    margin: 10px;
    background-color: greenyellow;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding: 20px;
    background-color: blueviolet;
}

.footer-box1,.footer-box2,.footer-box3 {
    flex-basis: 45%;
    max-width: 600px;
    height: 40px;
    margin: 10px;
    background-color: skyblue;
}